# =====================================================================
# Snowflake Credentials & Configuration
# =====================================================================
SNOWFLAKE_ACCOUNT="VVXMVZH-FL05366"
SNOWFLAKE_USER="kkp007"
SNOWFLAKE_USERNAME="kkp007"
SNOWFLAKE_PASSWORD="your_snowflake_password_here"
SNOWFLAKE_ROLE="DBT_ROLE"
SNOWFLAKE_WAREHOUSE="ZOMATO_WH"
SNOWFLAKE_DATABASE="ZOMATO"
SNOWFLAKE_SCHEMA="RAW"

# =====================================================================
# OpenAI Configuration (For LLM Review Enrichment, RAG, and Text-to-SQL)
# =====================================================================
OPENAI_API_KEY="sk-..."
SAMPLE_N=5

# =====================================================================
# AWS Configuration (S3 Lakehouse & Keyless Storage Integration)
# =====================================================================
AWS_ACCOUNT_ID="789130777295"
AWS_REGION="us-east-1"
S3_BUCKET_NAME="zomato-dataset-kkp"
IAM_ROLE_NAME="snowflake-s3-role"
IAM_POLICY_NAME="zomato-s3-read-policy"

STORAGE_AWS_ROLE_ARN="arn:aws:iam::789130777295:role/snowflake-s3-role"
STORAGE_AWS_IAM_USER_ARN="arn:aws:iam::556675846235:user/uiza2000-s"
STORAGE_AWS_EXTERNAL_ID="EV16518_SFCRole=3_4E8V8FQXqIVF4P1XpqlYh27nvl0="
